### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628

### Target ProductID (board select, max 23 ASCII symbols)
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR840N-V4"

### Kernel driver select for WiFi AP 2.4GHz
### 4.0 = MT7628 v4.0.1.3
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include CIFS (SMB) client. ~0.2MB
CONFIG_FIRMWARE_INCLUDE_CIFS=y

### Include Shortcut Forward Engine
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

№## Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=y

## Include USB-Serial modules (e.g. pl2303). ~0.03MB
CONFIG_FIRMWARE_INCLUDE_SERIAL=y

### Include "tcpdump" utility. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include EAP-TTLS and EAP-PEAP authentication support. openssl ~1.2MB, wpa_supplicant +0.04MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Include NFQWS support ~0.1MB
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

CONFIG_NETFILTER_NETLINK_QUEUE=m

CONFIG_NETFILTER_XT_TARGET_NFQUEUE=m

CONFIG_IP_NF_QUEUE=m

### Reduce trx image size
CONFIG_CC_OPTIMIZE_FOR_SIZE=y






